



<mat-dialog-content>
    <mat-toolbar color="primary" style="position:relative;">
      
        <h2 mat-dialog-title>Ret Booking</h2>
        <mat-dialog-actions>
       <span  style="position:absolute;right:5px;top:5px;">
          <button  mat-icon-button mat-dialog-close  tabindex="-1"><mat-icon >close</mat-icon></button>
       </span> 
       </mat-dialog-actions>
    </mat-toolbar>
    
    <div style="margin-top: 15px;">
      <div>
        <mat-form-field >
          <input matInput placeholder="RegistreringsId/Navn"   [(ngModel)]="b.RegId">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <textarea 
          cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
          matInput placeholder="Kommentar"  [(ngModel)]="b.Bem"></textarea>
        </mat-form-field>
      </div>
      
    </div>  
</mat-dialog-content>
<mat-dialog-actions>    
  
  <button mat-raised-button [mat-dialog-close]="false" >Luk</button>

  <button mat-raised-button color="primary" (click)="save_booking(b)" >Gem</button>
</mat-dialog-actions>