<h3>Fejl</h3>

<ul>
  <li>Fejl ialt: {{count_errors}}</li>
  <li>Fejl det sidste døgn: {{count_last_24_hour}}</li>
  
  <li>Fejl sidste time: {{count_last_hour}}</li>
  <li>Fejl samme time for en dag siden: {{count_one_day_ago}}</li>
  <li>Fejl samme time for 2 dage siden: {{count_two_day_ago}}</li>
</ul>

<mat-card style="width:150%;height:600px;overflow-y: scroll ;">
<table class="table table-bordered table-striped" style="font-size:10px;table-layout: fixed;width:100%;">
    <thead>
      <tr>
        <th>
            id
        </th>
        <th>
          created_at
      </th>
      <th>
        referer
    </th>
    <th>
      href
  </th>
  
  <th>
    site
  </th>
  <th>count</th>
  <th>
      server
  </th>
  <th>
      browser
  </th>
  </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of errors">
        <td>{{e.id}}</td>
        <td>{{e.created_at}}</td>
        <td style="word-wrap:break-word;">{{e.referer}}</td>
        <td style="text-overflow: ellipsis;word-wrap:break-word;"><a href="{{e.href}}" target="_blank">{{e.href}}</a></td>
        <td>{{e.site}}</td>
        <td>{{e.count}}</td>
        <td>{{e.server}}</td>
        <td>{{e.browser}}</td>
      </tr>
    </tbody>
  </table>

</mat-card>
<hr />

<table>
  <tr>
    <th>
    count
    </th>
    <th>
      site
    </th>
  </tr>
  <tr *ngFor="let c of count_href">
    <td>
{{c.Column1}}
    </td>
    <td>
      {{c.href}}
    </td>
  </tr>
</table>



<table>
  <tr>
    <th>
    count
    </th>
    <th>
      site
    </th>
  </tr>
  <tr *ngFor="let c of count_site">
    <td>
{{c.Column1}}
    </td>
    <td>
      {{c.site}}
    </td>
  </tr>
</table>

 