
 
<div class="TopLeft" style="width:100%;">
        
<span flex="50">{{title}}</span>        

<a style="float: right"

  
mat-raised-button 
href="/"
class="book" color="primary" 
layout-align="end-end"><i class="material-icons">forward</i>Tilføj Booking</a>
</div>


<bookings-table></bookings-table>






