.option-box {background: aliceblue;padding: 0;margin-top: 10px;}

.option-header 
  {
    background: #0277BD;
    color: white;
    font-size: 21px;
    padding: 0 6px;
}

.option-box i{ vertical-align: middle !important; }
.option-box ul, .option-box span {float: left;}
.option-content {padding: 5px;}

.option-content ul {padding-left: 30px;}


.option-content td {vertical-align: top;}

.option-box ul {
  list-style-type: none;
  padding-left: 12px;
  font-size: 14px;
}

.option-box ul {padding-top: 2px;}
.dp {margin-right: 24px;}