<div class="TopLeft">{{title}}</div>
<div class="container" style="padding-right:0;padding-left: 0;margin-left:10px;">
  <div class="row">
    <!-- Select dates -->
    <div class="col-md-6 datepickers" *ngIf="unit_types.length>0">
      <h4>Vælg periode</h4>               
        <mat-form-field class="dp">
            <input matInput  [matDatepicker]="picker1" placeholder="Start dato" [formControl]="startDate" (dateInput)="selectStartDate('input', $event)" [max]="maxDate" [min]="minDate" (click)="picker1.open()">
            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>        
        <mat-form-field class="dp">
            <input matInput [matDatepicker]="picker2" placeholder="Slut dato" [formControl]="endDate" (dateInput)="selectEndDate('input', $event)" [max]="maxDate" [min]="endDateminDate"  (click)="picker2.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-5" *ngIf="(selected_route.id && mode == 'onlinebooking') || selected_end_harbor.havne_id && selected_start_harbor.havne_id" style="height:100%">
      <h4  *ngIf="selected_route.id"><i class="material-icons  vertical-align-middle padding-bottom-3 padding-right-10">directions_boat</i>{{ selected_route.ferry_name}}</h4>       
      <div class="option-box">
        <div class="option-header">{{selected_start_harbor.Navn}}<i class="material-icons">arrow_forward</i>{{selected_end_harbor.Navn}}</div>      
        <div class="option-content">
          <table>
            <tr *ngIf="selected_unit_type.Enhedstype_id">
              <td><i class="material-icons">directions_car</i></td>
              <td><ul><li>{{selected_unit_type.Navn}}</li></ul></td>
            </tr>
            <tr *ngIf="options.PersonTypes">
              <td><i class="material-icons">person</i></td>
              <td>
                <ul>
                  <ng-container  *ngFor="let o of options.PersonTypes">
                    <li *ngIf="o.number_of_persons > 0">                              
                              {{o.name}}: {{o.number_of_persons}}                              
                    </li>
                  </ng-container>
                </ul>
              </td>
            </tr>
          </table>
        </div> 
        <button  
          style="position:absolute;top: 62px; right:20px;" 
          click-stop-propagation 
          mat-raised-button 
          mat-mini-fab 
          mat-fab 
          (click)="step=2" 
          *ngIf="step>2 && !options.departure_ids"><i class="material-icons">mode_edit</i></button>         
      </div>
    </div>
  </div>
</div>



<div @stepAnimation *ngIf="(step>0 && step < 3 && mode == 'compuferry_admin')" class="select-harbors">

  <div class="container">
    <div class="row harbors col-md-12" style="width: 100%;">      
        
      <div *ngIf="harbors.length >0" style="background: aliceblue;padding:5px 15px;margin-right: 15px;margin-top:5px;">
        <h6>Fra:</h6>
        <div class="button-row">
          <button click-stop-propagation mat-raised-button *ngFor="let harbor of harbors" (click)="select_start_harbor(route,harbor)" color="{{harbor.havne_id == selected_start_harbor.havne_id  ? 'primary':'default'}}">{{harbor.Navn}}</button>
        </div>
        <h6>Til:</h6>
        <div class="button-row">
          <button click-stop-propagation mat-raised-button *ngFor="let harbor of harbors"  (click)="select_end_harbor(route,harbor)" color="{{harbor.havne_id == selected_end_harbor.havne_id  ? 'primary':'default'}}">{{harbor.Navn}}</button>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- select route if onlinebooking-->
<div @stepAnimation *ngIf="(step>0 && step < 3 && mode== 'onlinebooking')" class="select-harbors">
  <div class="container">
    <div class="row harbors col-md-12" style="width: 100%;">      
        <div *ngFor="let route of routes"  >
          <div *ngIf="route.harbors.length >0" style="background: aliceblue;padding:5px 15px;margin-right: 15px;margin-top:5px;">
            <h4>{{route.name}}</h4>
            <h5>{{route.ferry_name}}</h5>
            <h6>Fra:</h6>
            <div class="button-row">
              <button click-stop-propagation mat-raised-button *ngFor="let harbor of route.harbors" (click)="select_start_harbor(route,harbor)" color="{{harbor.havne_id == selected_start_harbor.havne_id && selected_route.id== route.id ? 'primary':'default'}}">{{harbor.Navn}}</button>
            </div>
            <h6>Til:</h6>
            <div class="button-row">
              <button click-stop-propagation mat-raised-button *ngFor="let harbor of route.harbors" xdisabled="selected_route.id== route.id && selected_start_harbor.havne_id == harbor.havne_id" (click)="select_end_harbor(route,harbor)" color="{{harbor.havne_id == selected_end_harbor.havne_id && selected_route.id== route.id ? 'primary':'default'}}">{{harbor.Navn}}</button>
            </div>
          </div>
      </div>      
    </div>
  </div>
</div>
  <!-- Vælg enhedstype -->
  <div class="container" *ngIf="selected_start_harbor.havne_id && selected_end_harbor.havne_id"  >
    <div class="row">
      <div class="col-md-12">
        <h4>Vælg enhedstype</h4>
        <!-- <p>{{selected_unit_type.Navn}} </p> -->
        <mat-form-field>
            <mat-select 
              name="unit_type" 
              placeholder="Vælg enhedstype" 
              [(value)]="selected_unit_type" 
              [(ngModel)]="selected_unit_type" 
              (selectionChange)="select_unit_type();">
              <mat-option *ngFor="let unit_type of selected_unit_types" [value]="unit_type">
                {{ unit_type.Navn }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
      </div>
    </div>
  </div>





<!-- select persontypes -->
  <div *ngIf="(step > 1 && step < 3) && selected_start_harbor.havne_id && selected_end_harbor.havne_id"  @stepAnimation>
      <app-unittype-form 
        [downloading]="downloading" 
        [options]="options" 
        [(step)]="step" 
        [unit_type]="selected_unit_type"  
        (onOptionsSubmit)="onOptionsSubmit($event)" 
        [person_types]="person_types">
      </app-unittype-form>
  </div>


<!-- select departures starts here-->
<div *ngIf="step ==3" @stepAnimation>
  <app-departure-calendar 
    [(time)]="time" 
    (prepareReturnBooking)="prepareReturnBooking($event)"
    (bookDepartures)="bookDepartures($event)" 
    [downloading]="downloading" 
    [startHarbor]="selected_start_harbor" 
    [endHarbor]="selected_end_harbor" 
    [(step)]="step" (stepBack)="stepBack()" 
    [departures]="departures"  
    (reloadDepartures)="onReloadDepartures($event)">
  </app-departure-calendar>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="downloading" ></mat-progress-bar>
<div style="top:0;left:0;position:fixed;width:100%;height:100%;background:rgba(255, 255, 255, 0.5)" *ngIf="downloading">    
      <mat-spinner mode="indeterminate" [diameter]="200" [strokeWidth]="15"
      style="position: absolute;
      top: 50%;
      left: 43%;      
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);"
      ></mat-spinner>

</div>