<mat-toolbar color="primary" style="position:relative;">      
    <h2 mat-dialog-title>Ret Booking</h2>
    <mat-dialog-actions>
   <span  style="position:absolute;right:5px;top:5px;">
      <button  mat-icon-button mat-dialog-close  tabindex="-1"><mat-icon >close</mat-icon></button>
   </span> 
   </mat-dialog-actions>
</mat-toolbar>

<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="downloading" ></mat-progress-bar>
  <h3>
      {{booking.start_harbors[0] + '-' +  booking.slut_havn}}
  </h3>
  <!-- <table class="table table-bordered">
    <tr>
      <th>Dato</th>
      <td>{{booking.departure_time | date:'dd-MM-yyyy'}}</td>
    </tr>
    <tr>
      <th>Afgang</th>
      <td>{{booking.departure_time | date:'HH:mm'}} {{booking.start_havn}}</td>
    </tr>
    <tr>
      <th>
          Ankomst
      </th>
      <td> {{ getArrivalTime(booking)| date:'HH:mm'  }}  {{booking.slut_havn}}</td>
    </tr>
  </table> -->
 
<mat-form-field>
    <input matInput  [matDatepickerFilter]="possibleDatesFilter" [matDatepicker]="picker" [formControl]="startDate"  placeholder="Vælg en dato" (dateInput)="selectDepartureDate('input', $event)" [max]="maxDate" [min]="minDate" (click)="picker.open()"  />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<ul>
  
  <li *ngFor="let d of departures">
      
      {{d.DatoTid | date:'HH:mm'}} - 
    <button 
        mat-raised-button  
        [disabled]="booking.departure_ids.indexOf(d.Afgangs_id) > -1 || d.Udsolgt || d.InTime == false" 
        (click)="moveBooking(d)" 
        color="primary"
        matTooltip="rejsetid {{d.TravelTime}} m."
        matTooltipPosition="left"
        >
        {{ booking.departure_ids.indexOf(d.Afgangs_id) == -1 ?  (d.Udsolgt ? 'Udsolgt' : 'Book') :'din tid'}}
        
      </button>
      
      <!-- <i>(rejsetid {{d.TravelTime}} m.)</i> -->

      <!-- <span (click)="d.show = !d.show"><mat-icon>add</mat-icon> </span>  
  <pre *ngIf="d.show">
    {{d|json}}
  </pre> -->
  </li>
</ul>


<hr>
<span *ngIf="debug" (click)="booking.show = !booking.show"><mat-icon>add</mat-icon> </span>
<pre *ngIf="booking.show">
  {{booking|json}}
</pre>
</mat-dialog-content>
<mat-dialog-actions>    
  <!-- <button mat-button mat-dialog-close>No</button> -->
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button [mat-dialog-close]="false" >Luk</button>
</mat-dialog-actions>