
<!-- <pre>

  {{CompumatCards|json}}
</pre> -->



<div class="TopLeft">{{title}}</div>

<table style="font-size: 11px;" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Kort</th>
      <th>Gyldigt fra</th>
      <th>Gyldigt til</th>
      <th>Saldo</th>
      <th>Klip</th>
      <th>Tank op</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of CompumatCards">
      <td>{{c.KeyNo}}</td>
      <td>{{c.Description}}</td>
      <td>{{c.ValidFrom}}</td>      
      <td>{{c.ValidTo}}</td>
      <td>{{c.Saldo}}</td>
      <td>{{c.KeyClip1}}</td>
      <td>
        
        <a href="{{tankOplLink(c)}}"  mat-mini-fab   color="primary" 
                        matTooltip="Tank op"
            aria-label="Tank op"
                        ><mat-icon>input</mat-icon></a> 
      </td>

    </tr>
  </tbody>
  
</table>