<div [hidden]="!(step>0&&step<3)">
  <form (ngSubmit)="onSubmit()" #optionForm="ngForm">
    <div class="container input-form">
      <h4>Person og Booking oplysninger</h4>
      <div class="row">

        <div *ngFor="let t of unit_type.person_types; let i = index" class="col-md-3" [attr.data-index]="i">
          <div class="antal_personer" *ngIf="visible_by_customer_type(t.customer_types)" #primary>
            <label>{{t.name}}</label>
            <input type="number" min="0" max="100" class="form-control" required [(ngModel)]="t.number_of_persons" name="person_type{{t.id}}">
          </div>
        </div>
      </div>
      <div *ngIf="!checkMinPerson()" class="red">* Vælg minimum en person</div>
      <hr />
      <div class="row">

        <div class="form-group col-md-3" *ngIf="unit_type.AngivRegId">
          <label for="reg_id">RegID/Navn:</label>
          <input type="text" class="form-control" id="reg_id" minlength="2" autocomplete="off" required [(ngModel)]="options.RegID"
            name="reg_id" #reg_id="ngModel">
          <div [hidden]="reg_id.valid || reg_id.pristine" class="alert alert-danger"> RegID/Navn skal udfyldes</div>
        </div>
        <div class="form-group col-md-3" *ngIf="unit_type.KravLangde">
          <label for="length">Længde i meter</label>
          <ng-container *ngIf="unit_type.limits.KravLangde">
            <ng-container *ngIf="unit_type.limits.KravLangde.input_type =='dropdown'">
              <select id="length" required #length="ngModel" class="form-control" [(ngModel)]="options.Length" name="length">
                <option *ngFor="let n of getSelectValues(unit_type.limits.KravLangde)" [ngValue]="n" [selected]="unit_type.limits.KravLangde.default==n">{{n}}</option>
              </select>
              <div [hidden]="length.valid || length.pristine" class="alert alert-danger"> Længde skal udfyldes</div>
            </ng-container>
            <ng-container *ngIf="unit_type.limits.KravLangde.input_type =='number'">
              <input type="number" class="form-control" id="length" value="{{unit_type.limits.KravLangde.default}}" max="{{unit_type.limits.KravLangde.max}}"
                min="{{unit_type.limits.KravLangde.min}}" required #length="ngModel" [(ngModel)]="options.Length" name="length">
              <div [hidden]="length.valid || length.pristine" class="alert alert-danger"> Længde skal udfyldes</div>
            </ng-container>
            <ng-container *ngIf="unit_type.limits.KravLangde.input_type =='text'">
              <input type="text" class="form-control" id="length" max="{{unit_type.limits.KravLangde.max}}" min="{{unit_type.limits.KravLangde.min}}"
                required #length="ngModel" value="{{unit_type.limits.KravLangde.default}}" [(ngModel)]="options.Length" name="length">
              <div [hidden]="length.valid || length.pristine" class="alert alert-danger"> Længde skal udfyldes</div>
            </ng-container>

          </ng-container>
          <ng-container *ngIf="!unit_type.limits.KravLangde">
            <input type="number" class="form-control" id="length" min="0" required #length="ngModel" [(ngModel)]="options.Length" name="length">


            <div [hidden]="length.valid || length.pristine" class="alert alert-danger"> Længde skal udfyldes
            </div>
          </ng-container>
        </div>

        <div class="form-group col-md-3" *ngIf="unit_type.AngivAntal">
          <label for="number_of_units">Antal færge enheder</label>

          <input type="number" class="form-control" id="number_of_units" min="0" required #number_of_units="ngModel" [(ngModel)]="options.NoOfUnits"
            name="number_of_units">
          <div [hidden]="number_of_units.valid || number_of_units.pristine" class="alert alert-danger"> Antal færge-enheder skal udfyldes</div>
        </div>
        <div class="form-group col-md-3" *ngIf="unit_type.KravVagt">
          <label for="weight">Vægt i kilo</label>
          <input type="number" class="form-control" id="weight" min="0" required #weight="ngModel" [(ngModel)]="options.Weight" name="weight">

          <div [hidden]="weight.valid || weight.pristine" class="alert alert-danger"> Vægt skal udfyldes</div>
        </div>

        <div class="form-group col-md-3" *ngIf="unit_type.KravFragtVaegt">
          <label for="weight_cargo">Fragt-Vægt i kilo</label>
          <input type="number" class="form-control" id="weight_cargo" min="0" required #weight_cargo="ngModel" [(ngModel)]="options.WeightCargo"
            name="weight_cargo">

          <div [hidden]="weight_cargo.valid || weight_cargo.pristine" class="alert alert-danger"> Fragt-vægt skal udfyldes</div>
        </div>
        <div class="form-check col-md-3" *ngIf="unit_type.KravFarligtGods">
          <label for="dangerous_goods" class="form-check-label">
            <input type="checkbox" class="form-check-input" id="dangerous_goods" #dangerous_goods="ngModel" [(ngModel)]="options.DangerousGoods"
              name="dangerous_goods"> Farligt Gods:
          </label>
        </div>
        <div class="form-group col-md-3">
          <label for="comment">Kommentar:</label>
          <textarea class="form-control" id="comment" [(ngModel)]="options.Comment" name="comment"></textarea>
        </div>

        <hr/>

        <div class="col-md-12">
          <button class="submit" type="submit" mat-raised-button mat-button color="primary" [disabled]="!optionForm.form.valid || downloading || !checkMinPerson()">Ok</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <pre>{{options|json}}</pre>-->


<!-- <pre>{{unit_type|json}}</pre>  -->
