<mat-toolbar color="primary">
  <h1>Retur: 
    {{harbors.start_harbor.Navn}} - {{harbors.end_harbor.Navn}}
    kl. <span *ngIf="time.hour">{{time.hour}}:{{time.minute}}</span></h1>
</mat-toolbar>
<mat-dialog-content >
<div class="container ProfileResultBox SelectTimeDialog">

  <p><b style="color:black;">Ønskede afrejse tidspunkt</b></p>
  <div class="row">
      <div class="form-group" class="col-md-2">
        <label style="display:inline;" for="sel1">KL:</label>
        <select class="form-control" id="sel1" [(ngModel)]="time.hour" (change)="onTimeChange()" >
          
          <option *ngFor="let h of times.hours">{{h}}</option>      
        </select>
      </div>
      <div class="form-group" class="col-md-2" *ngIf="time.hour">
          <label style="display:inline;" for="sel2">Minuttal:</label>
          <select class="form-control" id="sel2" [(ngModel)]="time.minute"  (change)="onTimeChange()">
            <option *ngFor="let m of times.minutes">{{m}}</option>      
          </select>
      </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="button-row">
        <button mat-raised-button [mat-dialog-close]="time" color="primary" class="book" >Ok</button>
    </div>
</mat-dialog-actions> 



