<h3>Fejl: følgende afgang<span *ngIf="data.length>1">e</span> kunne ikke bookes</h3>
<table class="table table-bordered alert alert-danger" *ngFor="let element of data" >
  <tr>
    <td>{{element.tid | date:'dd-MM-yyyy HH:mm '}}</td>
    <td>{{element.name}}</td>
    <td>
      <p *ngFor="let m of element.messages">{{m}}</p>
    </td>
  </tr>
</table>
<button  mat-raised-button layout-align="end-start"(click)="close()" >Ok</button>


      
