



// .nav ul {
//     list-style: none;
//     background-color: #444;
//     text-align: center;
//     padding: 0;
//     margin: 0;
//   }
//   .nav li {
//     font-family: 'Oswald', sans-serif;
//     font-size: 1.2em;
//     line-height: 40px;
//     height: 40px;
//     border-bottom: 1px solid #888;
//     margin: 2px;
    
//   }
   
//   .nav a {
//     text-decoration: none;
//     color: #FFF;
//     display: block;
//     transition: .3s background-color;
//     background-color: #0277BD;
//     padding: 0 5px;
//   }
   
//   .nav a:hover {
//     background-color: rgb(0, 60, 95);
//   }
   
//   .nav a.active {
//     background-color: #fff;
//     color: #444;
//     cursor: default;
//   }

//   .nav .hidden {display: none;}
//   .nav:hover .hidden {display: inline;}
//   .hidden a, .hidden a:hover {background-color: white;}

//   .cs-blue-background {background-color: #0277BD !important;}


.layout-topbar {
    height: 55px;
    background-color: black;
    padding: 16px 42px 16px 24px;
    width: 100%;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0          rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-content{
    margin-top: 15px;
  }