<!-- <nav  mat-tab-nav-bar [backgroundColor]="background" [color]="color" *ngIf="userpages" >
  <a mat-tab-link routerLink="/bookings" [active]="activeLink == 'bookings'" (click)="activeLink = 'bookings'"> Bookinger </a>
  <a mat-tab-link routerLink="/customer_info" [active]="activeLink == 'customer_info'" (click)="activeLink = 'customer_info'"> Kundeoplysninger </a>
  <a mat-tab-link routerLink="/compumat_card" [active]="activeLink == 'compumat_card'" (click)="activeLink = 'compumat_card'" *ngIf="hasUserpage('CompumatCards')"> Værdi på kort </a>
  <a mat-tab-link routerLink="/pendlerbooking" [active]="activeLink == 'pendlerbooking'" (click)="activeLink = 'pendlerbooking'" *ngIf="hasUserpage('Pendlerbooking')"> Pendlerbooking </a>
  
</nav>
<br /> -->

<div *ngIf="hub_test_on">
<div class="layout-topbar" >
  <div class="fluid-container">
      <div class="row">
          <div class="col-md-10">
            <input type="text" [(ngModel)]="message_txt">
            <button (click)="send()">Send</button>
            <p *ngFor="let m of messages">{{m.Type}} {{m.Payload}}</p>
          </div>
      </div>
  </div>
</div>

<input [(value)]="msgs" />
</div>

<router-outlet></router-outlet>

<app-rand-pic *ngIf="!hub_test_on"></app-rand-pic>

 