.xbutton-row {
    display: flex;
    align-items: left;
    /* justify-content: space-around; */
  }

  .option-box {background: aliceblue;padding: 0;}

  .option-header 
    {
      background: #0277BD;
      color: white;
      font-size: 21px;
      padding: 0 6px;
  }
  
  .option-box i{ vertical-align: middle !important; }
  .option-box ul, .option-box span {float: left;}
  .option-content {padding: 5px;}
  
  .option-content ul {padding-left: 30px;}


  .option-content td {vertical-align: top;}