

<pre>
    
  <ul>
    <li *ngFor="let item of departures; let i = index">
        {{item.Navn}} - {{item.DatoTid}}
    </li>
  </ul>
  </pre>





<!-- <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
class="example-viewport">
  <div *cdkVirtualFor="let item of items" class="example-item">
      {{item}} 
      <img src="https://picsum.photos/200/300/?image={{parse(item)}}" style="height: 190px;" />
  </div>
</cdk-virtual-scroll-viewport>

<div cdkDropList class="float-left" (cdkDropListDropped)="drop($event)">
<div *ngFor="let item of counter(20);let i = index" class="float-left" cdkDrag>
  {{i + 1 }}
  <img src="https://picsum.photos/200/300/?image={{i}}" style="height: 90px;" />
</div>
</div>

<div class="float-left">
  <div *ngFor="let item of counter(9);let i = index" class="float-left">
    {{i + 1 }
    <img src="https://picsum.photos/200/300/?image={{i}}" style="height: 90px;" />
  </div>
</div>

<div cdkDropList class="example-list" (ngModelChange)="drop($event)">
  <input [(ngModel)]="max_pics" (change)="getPics()" type="number" max="12" min="1" />
  <div class="example-box" *ngFor="let item of movies;let i = index;" cdkDrag>Billed {{i + 1}} - <img src="{{item}}" style="height: 60px;" />
  
    <img *cdkDragPreview [src]="item" [alt]="item">
  </div>
</div> -->



  