
.departure-schema tr td:first-child  {background: #f1f1f1;border-left: 1px solid #e9ecef; }

.departure-schema thead {background-color: #ddd;}

.departure-schema {margin-top: 30px; }
.departure-schema .week-number  {border-right: 1px solid #e9ecef !important; }

