
<div class="container">
  <h1>kl. <span *ngIf="time.hour">{{time.hour}}:{{time.minute}}</span></h1>

  <p><b>Ønskede afrejse tidspunkt</b></p>
  <div class="row">
    
      <div class="form-group" class="col-md-2">
        <label style="display:inline;" for="sel1">KL:</label>
        <select class="form-control" id="sel1" [(ngModel)]="time.hour" (change)="onTimeChange()" >
          
          <option *ngFor="let h of times.hours">{{h}}</option>      
        </select>
      </div>

      <div class="form-group" class="col-md-2" *ngIf="time.hour">
          <label style="display:inline;" for="sel2">Minuttal:</label>
          <select class="form-control" id="sel2" [(ngModel)]="time.minute"  (change)="onTimeChange()">
            <option *ngFor="let m of times.minutes">{{m}}</option>      
          </select>
      </div>
      <div class="col-md-2"></div>
    
    <div class="col-md-6">
      <div  layout="row">
        <span class="fill-remaining-space"></span> 
        <button 
          [disabled]="downloading || getSelectedDepartures().length == 0" 
          click-stop-propagation  
          mat-raised-button 
          (click)="onBook()" 
          class="book" color="primary" 
          layout-align="end-start"><i class="material-icons">forward</i>{{go_to_booking}}</button>

          <div *ngIf="!return_booking" style="margin: 5px;">eller</div>
              
          <button 
            *ngIf="!return_booking"
            [disabled]="downloading || selected_departures.length < 1" 
            click-stop-propagation
            mat-raised-button  
            (click)="onPrepareReturnBookings()" 
            class="book"  
            color="primary"
            layout-align="end-start"><i class="material-icons">add</i> {{add_to_booking}}
          </button>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <table class="table departure-schema"  *ngIf="weeks.length>0 && time.hour" @stepAnimation>
          <thead>
            <tr>
              <th><span *ngIf="weeks.length>0">Ugenr.</span></th>
              <th *ngFor="let d of week_day_names; let i = index" [attr.data-index]="i">
                  <mat-checkbox [(ngModel)]="d.checked" (change)="onWeekDayCheckChange(d,i)" color="accent"  >{{d.name}}</mat-checkbox>
                </th>
            </tr>
          </thead>
          
          <tbody >          
            <ng-container  *ngFor="let week of weeks">
            <tr *ngIf="week.is_first_week_in_month"><th colspan=8 style="text-align: center"><h3>{{long_month_names[week.month_number]}}</h3></th></tr>
            <tr>
              <th class="week-number"> 
                
                <mat-checkbox [(ngModel)]="week.checked"  (change)="onWeekCheckChange(week)" class="primary">{{week.week_number}}</mat-checkbox>
              </th>
              <td *ngFor="let day of week.days; let i = index" [attr.data-index]="i">
                  <mat-checkbox *ngIf="day.departures.length>0" [(ngModel)]="day.checked"   ><span style="font-size: 18px;">{{day.str_date}}</span></mat-checkbox>
                <div>
                <select 
                [(ngModel)]="day.selected_departure"
                  style="font-family: 'FontAwesome', Helvetica;" 
                  *ngIf="day.departures.length>0" 
                  class="form-control" 
                  [ngStyle]="{'background': day.checked && (week.checked || week_day_names[i].checked) ? day.match_color : '#FFF' }" 
                  (change)="onDepartureChange(day)">
                  <option 
                    *ngFor="let departure of day.departures"                     
                    [selected]="day.selected_departure==departure" 
                    [disabled]="departure.sold_out || departure.locked"  
                    [ngValue]="departure"                  
                     >   
                      <span *ngIf="departure.path.length>1">*</span>{{departure.str_time}}
                      <span *ngIf="departure.locked">&#61475;</span>                    
                  </option>
                </select>                
              </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      
        <mat-toolbar layout="row" *ngIf="weeks.length>0  && time.hour" >
            <!-- <button click-stop-propagation mat-raised-button (click)="onReloadDepartures()" flex><i class="material-icons">refresh</i> Opdater Afgange</button>  -->
            <button *ngIf="weeks.length>0  && time.hour" click-stop-propagation mat-raised-button (click)="vis_afgange=!vis_afgange"><i class="material-icons">pageview</i>{{vis_afgange ? 'Skjul':'Vis' }} liste</button>
            <span class="fill-remaining-space">&nbsp;</span>          
            <button 
              [disabled]="downloading || selected_departures.length < 1" 
              click-stop-propagation  
              mat-raised-button (click)="onBook()" 
              class="book" color="primary" 
              layout-align="end-start"><i class="material-icons">forward</i> {{go_to_booking}}</button>  

              <div *ngIf="!return_booking" style="margin: 5px;">eller</div>
              
              <button 
                *ngIf="!return_booking"
                [disabled]="downloading || selected_departures.length < 1" 
                click-stop-propagation
                mat-raised-button  
                (click)="onPrepareReturnBookings()" 
                class="book"  
                color="primary"
                layout-align="end-start"><i class="material-icons">add</i> {{add_to_booking}}
              </button>
        </mat-toolbar>
      
       
      <div *ngIf="weeks.length>0 && time.hour && vis_afgange" @stepAnimation>
        <h3>{{selected_departures.length}} Valgt afgange </h3>
        <table class="table table-bordered table-striped" style="font-size: 11px;background:white;" >
          <thead>
            <tr>
              <th>Dato:</th>
              <th>Afgang: {{startHarbor.Navn}}</th>
              <th>Ankomst: {{endHarbor.Navn}}</th>
              <th>Overfartstid/minutter</th>
              <th>Stop</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of getSelectedDepartures()">
              <td>{{d.date | date:'dd-MM-yyyy'}}</td>
              <td>{{d.date | date:'HH:mm'}}</td>
              <td>{{d.arrival_time | date:'HH:mm'}}</td>
              <td>{{d.travel_time}}</td>
              <td> <span *ngIf="d.path.length>1">{{d.path.length - 1}}</span></td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>
