

.bookings mat-cell {font-size: 11px;}

 
 

.mat-column-send,
.mat-column-skift,
.mat-column-ret,
.mat-column-slet {
      overflow: initial;
      flex: 0 0 48px;
      margin-left:2px;
      padding-right: 1px !important;
    }

 