<mat-progress-bar mode="indeterminate" *ngIf="downloading" ></mat-progress-bar>
<div class="bookings">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" >

    <ng-container matColumnDef="info" sticky>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button click-stop-propagation mat-mini-fab   color="primary" (click)="openInfoDialog(row)"
                aria-label="Booking info"
                matTooltip="Booking info"
                ><mat-icon>info</mat-icon></button>   
            </mat-cell>                   
        </ng-container>
  
    <ng-container matColumnDef="departure_time">
        <mat-header-cell *matHeaderCellDef >Dato</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.departure_time | date:'dd-MM-yyyy'}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="overfart">
      <mat-header-cell *matHeaderCellDef >Overfart</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.start_harbors.join('-') + '-' +  row.slut_havn}}</mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="ferry_name">
            <mat-header-cell *matHeaderCellDef >Fartøj</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.bookings[0].ferry_name}}</mat-cell>
    </ng-container> -->
      
      <ng-container matColumnDef="Afgang">
          <mat-header-cell *matHeaderCellDef >Afgang</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.departure_time| date:'HH:mm' }}</mat-cell>
      </ng-container>
      
      <!-- <ng-container matColumnDef="Ankomst">
          <mat-header-cell *matHeaderCellDef>Ankomst</mat-header-cell>
          <mat-cell *matCellDef="let row">{{getArrivalTime(row)| date:'HH:mm' }}</mat-cell>
      </ng-container> -->
     
      <!-- <ng-container matColumnDef="RegId">
          <mat-header-cell *matHeaderCellDef>RegID/Navn</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.RegId  }}</mat-cell>
      </ng-container>
     
      <ng-container matColumnDef="unittype_name">
          <mat-header-cell *matHeaderCellDef>Enhedstype</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.unittype_name  }} {{row.NumberOfItems > 1 ? row.NumberOfItems : '' }}</mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="AntPers">
          <mat-header-cell *matHeaderCellDef>Pers.</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.AntPers  }} {{ row.AntalBoern > 0 ? '(' + row.AntalBoern + ')' : ''}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="skift" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            
            <button click-stop-propagation mat-mini-fab   color="primary" (click)="openEditBookingDialog(row)" 
            [disabled]="!row.in_time"
            aria-label="Skift afgang"
            matTooltip="Skift afgang"
            ><mat-icon>schedule</mat-icon></button>              
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ret" stickyEnd>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                
   
                <button click-stop-propagation
                [disabled]="!row.in_time"

                (click)="openRetBookingDialog(row)"
                aria-label="Ret registrerings id / navn"
                matTooltip="Ret registrerings id / navn"
                mat-mini-fab    color="primary"><mat-icon
                
                >edit</mat-icon></button> 
                
    
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="slet" stickyEnd>
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index;">
                    
       
                        
                    <button click-stop-propagation mat-mini-fab   color="warn" (click)="deleteBooking(row, i)"
                    [disabled]="!row.in_time"
                    matTooltip="Slet denne booking"
        aria-label="Slet denne booking"
                    ><mat-icon>delete</mat-icon></button> 
                        
        
                </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="send" stickyEnd>
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        
           
                            
                        <button click-stop-propagation mat-mini-fab   color="accent" (click)="resendBooking(row)"
                        matTooltip="Gensend bekræftelse"
            aria-label="Gensend bekræftelse"
                        ><mat-icon>send</mat-icon></button> 
                            
            
                    </mat-cell>
                </ng-container>
        
      
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" @stepAnimation></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="displayedColumns.length"
    [pageIndex]="0"
    [pageSize]="15"
    [pageSizeOptions]="[15, 30, 50, 100]"

    >
  </mat-paginator>
</div>

<div *ngIf="temp_bookings.length > 0" style="margin-top: 30px;">
    
        <h3>Temp bookinger</h3>
    <span class="alert alert-danger">
            
        * {{temp_bookings.length}} bookinger under færdigbehandling</span>
</div>

<div style="top:0;left:0;position:fixed;width:100%;height:100%;background:rgba(255, 255, 255, 0.5)" *ngIf="downloading">    
    <mat-spinner mode="indeterminate" [diameter]="200" [strokeWidth]="15"
    style="position: absolute;
    top: 50%;
    left: 43%;
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);"
    ></mat-spinner>

</div>

