
<mat-dialog-content>
    <mat-toolbar color="primary" style="position:relative;">
      
        <h2 mat-dialog-title>{{data.title}}</h2>
        <mat-dialog-actions>
       <span  style="position:absolute;right:5px;top:5px;">
          <button  mat-icon-button mat-dialog-close  tabindex="-1"><mat-icon >close</mat-icon></button>
       </span> 
       </mat-dialog-actions>
    </mat-toolbar>

    <div class="confirm_description" [innerHTML]="data.description"></div>
    
    
  
</mat-dialog-content>
<mat-dialog-actions>    
  
  <button mat-raised-button [mat-dialog-close]="false" >Fortryd</button>


<button color="primary" mat-raised-button layout-align="end-start"(click)="close(true)" >Ok</button>


</mat-dialog-actions>