



<mat-dialog-content>
        <mat-toolbar color="primary" style="position:relative;">
          
            <h2 mat-dialog-title>Booking Info</h2>
            <mat-dialog-actions>
           <span  style="position:absolute;right:5px;top:5px;">
              <button  mat-icon-button mat-dialog-close  tabindex="-1"><mat-icon >close</mat-icon></button>
           </span> 
           </mat-dialog-actions>
        </mat-toolbar>


        <table class="table table-bordered" style="font-size: 11px;">
            <tr *ngFor="let b of booking">
                <th>{{b.label}}</th>
                <td>{{b.text}}</td>
            </tr>
        </table>
    
      
    </mat-dialog-content>
    <mat-dialog-actions>    
      <!-- <button mat-button mat-dialog-close>No</button> -->
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-raised-button [mat-dialog-close]="true" >Luk</button>
    </mat-dialog-actions>