/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix, .cf { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; clear: both;}

  .departure-schema .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(32, 138, 32);
    
}

.departure-schema th .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(98, 139, 98);
}
.departure-schema tbody .mat-checkbox-label { font-size: 12px;font-weight:700;}


.departure-schema select.form-control:not([size]):not([multiple]) {
  

  height: initial;
}

.sold-out {
  text-decoration: line-through !IMPORTANT; color: red;
}

.departure-schema select option[disabled] {text-decoration: line-through !IMPORTANT; color: red;}

.ProfileResultBox h4, .ProfileResultBox h5 {margin-top:1.2em !important;}

.ProfileResultBox .harbors button { margin-right:15px !important;}


.ProfileResultBox .harbors button.mat-raised-button.mat-primary,
button.mat-raised-button.mat-primary.submit,
.book
{background-color:#28a745 !important;}


button.mat-raised-button.mat-primary.submit[disabled],
.book[disabled] {
  background-color: rgba(0,0,0,.12) !important;
}

.fill-remaining-space { 
  flex: 1 1 auto;
}

.departure-schema h3 { font-size: 30px;}

.unittype-form div, .select-harbors, .week-table, .week-table td, .departure-schema td, .departure-schema {background: #FFF;}