/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */


@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-blue,700);
  $accent: mat-palette($mat-yellow,700);
  $default: mat-palette($mat-green,700);

  $theme: mat-light-theme($primary, $accent);
  @include angular-material-theme($theme);



  
    .xTopLeft {
      background: #0277BD;     
      color: #fff;
      height: 30px;
      font-family: Arial, Tahoma, Helvetica, sans-serif;
      padding: 7px 10px;
    }
    .TopLeft {
      font-size: 30px;
      height: 30px;
      font-family: Arial, Tahoma, Helvetica, sans-serif;
      padding: 7px 10px;
      margin-bottom:15px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    

.ProfileResultBox {
  margin: 50px;
  background: white;
  width: 950px;
  margin-bottom: 10px;
  /* text-align: center; */
}


.SelectTimeDialog {
  width: 650px;
  margin: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix, .cf { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; clear: both;}

  .departure-schema .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(32, 138, 32);
    
}

.departure-schema th .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(98, 139, 98);
}
.departure-schema tbody .mat-checkbox-label { font-size: 12px;font-weight:700;}


.departure-schema select.form-control:not([size]):not([multiple]) {
  

  height: initial;
}

.sold-out {
  text-decoration: line-through !important; color: red;
}

.departure-schema select option[disabled] {text-decoration: line-through !important; color: red;}

h4, h5 {margin-top:1.2em !important;}

.harbors button { margin-right:15px !important;}


.harbors button.mat-raised-button.mat-primary,
button.mat-raised-button.mat-primary.submit,
.book
{ background-color:#28a745 !important;}


button.mat-raised-button.mat-primary.submit[disabled],
.book[disabled] {
  background-color: rgba(0,0,0,.12) !important;
}

.fill-remaining-space { 
  flex: 1 1 auto;
}

.departure-schema h3 { font-size: 30px;}

.unittype-form div, .select-harbors, .week-table, .week-table td, .departure-schema td, .departure-schema {background: #FFF;}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
  font-size: 12px;
}

.vertical-align-middle { 
  vertical-align: middle; 
}

.padding-bottom-3 {
  padding-bottom: 3px;
}
.padding-right-10 {padding-right: 10px;}

.mat-form-field-infix { font-size: 14px;}

.datepickers button .mat-icon {
  font-size: 20px !important ;
}

#MainContentArea {
 
  margin-bottom: 25px;
}