
<div class="TopLeft">{{titel}}</div>

<table style="font-size: 11px;" class="table table-striped table-bordered">
  <tr *ngFor="let i of info">
    <th>{{i.label}}</th>
    <td>{{i.value}}</td>
  </tr>
</table>
